/* p {
    display: flex;
    justify-content: center;
    height: 40vh;
    align-items: center;
    margin: auto;
} */

body {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 60vh;
}

.fusionOn {
    width: 1212px;
    height: 567px;
    background: url("./images/initial.jpg") no-repeat;
}

.fusionOff {
    width: 1212px;
    height: 567px;
    background: url("./images/final.jpg") no-repeat;
}